@using Prayer.View_Model;
@model PrayerRequestViewModel

@{
    ViewBag.Title = "";
}

@using (Html.BeginForm())
{ 
    <!-- Hidden fields-->
    @Html.HiddenFor(m => m.Mode)
    @Html.HiddenFor(m => m.PrayerID)    
    
    <div class="container">
        <!--<div class="form-group">-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Enter Your Prayer Requests</h1>
            </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.TextAreaFor(m => m.PrayerRequest, 5, 0, new { @class = "form-control", style = "min-width: 100%", name="prayerDesc" })
                <label for="submittedBy">Submitted By</label>
                @Html.TextBoxFor(m => m.SubmittedBy, new { @class = "form-control" })
            </div>
        </div>
        <div class="panel-footer">
            <button id="btnSubmit" class="btn btn-sm btn-primary">
                <i class="glyphicon glyphicon-bell"></i>
                &nbsp; Submit
            </button>
            <button id="btnReset" class="btn btn-sm btn-primary">
                <i class="glyphicon glyphicon-share-alt"></i>
                &nbsp; Reset
            </button>
        </div>
    </div>

        @*<div>
                <form name="prayerRequest" action="/Prayer/SavePrayer/" method="post">
                    <label for="prayerrequest">Prayer Request:</label>
                    <textarea class="form-control" rows="4" style="min-width: 100%" id="prayerrequest" name="PrayerText"></textarea> <p></p>
                    <label for="usr">Name:</label>
                    <input type="text" class="form-control" id="usr" name="SubmittedBy"> <p></p>
                    <button type="submit" class="btn btn-primary btn-block" value="BtnSubmit">Submit</button>
                    <button type="reset" class="btn btn-primary btn-block" value="BtnSubmit">Reset</button>
                </form>
            </div>*@
        <div id="list">
            <h2>Most Recent Prayer Needs</h2>
            <table id="prayerTable" class="table table-condensed table-bordered table-striped table-hover">
                <thead class="table">
                    <tr>
                        <th id="edit">Edit</th>
                        <th class="hidden">No.</th>
                        <th>Name</th>
                        <th>Prayer Request</th>
                        <th>Date</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PrayerRequestViewModel prayer in Model.PrayerRequestViewModelList)
                    {
                        if (@prayer.IsNew)
                        {
                            <tr class="alert-danger">
                                <td>
                                    <a href="#" data-action="edit"
                                       data-id="@prayer.ID"
                                       class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </a>
                                </td>
                                <td class="hidden">@prayer.ID</td>
                                <td>@prayer.SubmittedBy</td>
                                <td>@prayer.PrayerDescription</td>
                                <td>@prayer.SubmittedDate</td>
                                <td>
                                    <a href="#" data-action="delete"
                                       data-id="@prayer.ID"
                                       class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr class="alert-info">
                                <td>
                                    <a href="#" data-action="edit"
                                       data-id="@prayer.ID"
                                       class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </a>
                                </td>
                                <td class="hidden">@prayer.ID</td>
                                <td>@prayer.SubmittedBy</td>
                                <td>@prayer.PrayerDescription</td>
                                <td>@prayer.SubmittedDate</td>
                                <td>
                                    <a href="#" data-action="delete"
                                       data-id="@prayer.ID"
                                       class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}
@section scripts {    
    <script>
        $(document).ready(function () {
            // submit function
            $("#btnSubmit").on("click", function (e) {
                e.preventDefault();
                
                $("#Mode").val("submit");

                $("form").submit();
            });

            // reset function
            $("#btnReset").on("click", function (e) {
                e.preventDefault();

                $("#Mode").val("reset");

                $("form").submit();
            });

            // edit function
            $('table tbody a').click(function(){
                
                // Edit - when they click edir row
                if ($(this).attr("data-action") == "edit") {

                    $("#PrayerRequest").val($(this).closest('tr').find('td:eq(3)').text());
                    $("#SubmittedBy").val($(this).closest('tr').find('td:eq(2)').text());

                    $("#PrayerID").val($(this).attr("data-id"));
                    $("#Mode").val($(this).attr("data-action"));
                }

                // Delete - when they click delete
                if ($(this).attr("data-action") == "delete") {

                    $("#PrayerID").val($(this).attr("data-id"));
                    $("#Mode").val("delete");

                    $("form").submit();
                }

            });

        });
    </script>
}

